<h3> <%= link_to 'Back ', tests_drfstretching_path %></h3> 
<h2> I.T. Band Stretch </h2> 

<iframe width="420" height="315" src="https://www.youtube.com/embed/up_18QhdGFQ" frameborder="0" allowfullscreen></iframe>