 <%= link_to 'feedback', posts_path %>
 <%= link_to 'app', tests_tran_path  %>
<p>Here is a few ways that we can display things:</p>


<h3> 1.) The following 2 videos go together in a "How to", "How not to" format. </h3> 
<br>
<br>

<h2> How to </h2>

<iframe width="420" height="315" src="https://www.youtube.com/embed/flBuIRQV3hs" frameborder="0" allowfullscreen></iframe>

<br>
<br>
<br> 
<h2> Things not to do. </h2>

<iframe width="420" height="315" src="https://www.youtube.com/embed/flBuIRQV3hs" frameborder="0" allowfullscreen></iframe>

<br>
<br> 

<p> 2.) The video below has both the how to and what not to do tied in together. </p> 

<br> 
<iframe width="420" height="315" src="https://www.youtube.com/embed/jPS1GO0oG7Q" frameborder="0" allowfullscreen></iframe>

<br>
<br> 
<br> 

<p> The point of the videos is to figure out what "content" needs to be in the video. Let me know which format you like better (1 or 2). The videos obviosly need to be shoot better, from different angles, and in better clothes. But looking for more of how should we design the page and give the information.</p>
<br>
<p> For the how to how not to we could do things like put a the name of the exercise on a page and put the 2 videos in a show page so its nots messy, and you know what goes with what.</p>
<p> Also ideas on how much content to break up in one video. I was thinking for the video groups 5 groupings 1.) ankles 2.) hamstrings, groin, it, hip(cross leg on back) 3.) all stretches form your stomach. 4.) low back  5.) standing from a pole.</p> 

<p> Let me know your guys thoughts/suggustions <%= link_to 'here', posts_path %><br>
.</p> 

<br> 
<br> 
<br> 