<header>


<br>
<br>
<br>
 <ul class="nav navbar-nav navbar-right">
      
      <li><%= link_to "Terms and Conditions", tests_terms_path %></li>
      <li><%= link_to "Privacy Policy", tests_privacy_path %></li>
    </ul>
      </div>
    </div>
   <br>
   <br>
   <br>
  </header>
